.item{
    padding: .5em 2em .5em .5em;
    border: 1px solid #5e5252;
    margin-top: .2em;
    border-radius: 2px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    position: relative;
    &:hover{
        border: 1px solid #ddcbcb;
        background-color: #454545;
        color: white;
    }
    &.marcado{
        border: 1px solid #ddcbcb;
        background-color: #f0f0f0;
        color: #303030;
    }
    .delete{
        border-radius: 2em;
        padding: 1em 0 0 1em;
        background-image: url('~img/aspa.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 85%;
        position: absolute;
        top: 6px;
        right: 7px;
        cursor: default;
            transition: background-color .3s ease-in-out;
        &:hover{
            background-color: #101010;
        }
    }
}